body {
  text-align: center;
  background-color: #DBEDF3;
  margin: 0 15% 0;
}

h1 {
  color: #EB3838;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  text-shadow: 4px 0 #3B45D1;
}

h2 {
  color: #EB3838;
  font-family: "Arvo", cursive;
  text-shadow: 2px 0 #3B45D1;
}

a {
  text-decoration: none;
}

p {
  font-family: "Arvo", cursive;
  margin-bottom: 5%;
  color: #EB3838;
  text-shadow: 1px 0 #3B45D1;
}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
  margin-bottom: 5%;
}

.set {
  margin: 0;
}

.buttons {
  margin-bottom: 5%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 50%;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 2rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: white;
  border-radius: 15px;
  border-color: gray;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: black;
}

.r {
  background-color: #F59738;
}

.e {
  background-color: #F59738;
}

.f {
  background-color: #30BAFF;
}

.a {
  background-color: #EB3838;
}

.s {
  background-color: #3B45D1;
}

.t {
  background-color: #F7C859;
}

.y {
  background-color: #F7C859;
}

.d {
  background-color: #30BAFF;
}

.z {
background-color: #EB3838;
}

.x {
  background-color: #3B45D1;
}

.c {
  background-color: #30BAFF;
}

.v {
  background-color: #30BAFF;
}
